.bl-main_background {
    /*background-color: orange;*/
    width: 100%;
    padding-top: 100px;
}

.bl-container {
    /*background-color: #2185D0;*/
    width: 100%;
    margin: auto;
    max-width: 900px;
}

.left-main-container {
    /*background-color: rebeccapurple;*/
    background-color: #DADADA;
    width: 60%;
    padding: 10px 25px 10px 10px;
    float: left;
    box-sizing: border-box;
}

.left-container {
    /*background-color: green;*/
    background-color: white;
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.right-main-container {
    /*background-color: red;*/
    background-color: #DADADA;
    width: 40%;
    padding: 10px;
    float: left;
    box-sizing: border-box;
}

.right-container {
    /*background-color: blueviolet;*/
    background-color: white;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.new-product {
    width: auto;
    background-color: white;
    border-radius: 5px 5px 0 0;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgrey;
}

input[type="text"] {
    height: 35px;
    width: 80%;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 2px;
    opacity: 0.6;
    box-sizing: border-box;
}

.button-add {
    height: 35px;
    width: 20%;
    background-color: #2185D0;
    border: 0 solid transparent;
    border-radius: 2px;
    text-align: center;
    color: white;
    font-size: 1rem;
    float: right;
    box-sizing: border-box;

    position: relative;
}

.button-add::after {
    content: "Tooltip";
attr(data-tooltip);
    position: absolute;

    top: -35px;
    left: 50%;
    width: 100%;
    border-radius: 5px;
    margin-left: -50%;
    padding: 5px;
    background-color: rgba(10, 1, 64, 0.9);
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.button-add:hover::after {
    visibility: visible;
    transform: translateY(-20px) scale(1.2);
}

.bl-row {
    width: auto;
    background-color: white;
    border-bottom: 1px solid darkgrey;

    height: 40px;
    padding: 10px;
}

.bl-product {
    display: inline-block;
    width: 25%;
    margin: auto;
    float: left;
    text-align: left;
    padding-top: 10px;
}

.bl-count {
    display: inline-block;
    width: 36%;
    float: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Кнопки*/
.bl-minus {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #ff6357;
    opacity: 0.7;
    color: white;
    border: 0 solid transparent;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;

    position: relative;
}

.bl-minus::after {
    content: "Tooltip";
attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 50%;
    width: 70px;
    border-radius: 5px;
    margin-left: -40px;
    padding: 5px;
    background-color: rgba(10, 1, 64, 0.9);
    opacity: 1;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.bl-minus:hover::after {
    visibility: visible;
    transform: translateY(-20px) scale(1.2);
}

.bl-label {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #E8E8E8;
    border: 0 solid transparent;
    border-radius: 5px;
    text-align: center;
    padding: 3px 2px;
    margin: 2px;
}

.bl-plus {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #34d035;
    opacity: 0.7;
    color: white;
    border: 0 solid transparent;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;

    position: relative;
}

.bl-plus::after {
    content: "Tooltip";
attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 50%;
    width: 70px;
    border-radius: 5px;
    margin-left: -40px;
    padding: 5px;
    background-color: rgba(10, 1, 64, 0.9);
    opacity: 1;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.bl-plus:hover::after {
    visibility: visible;
    transform: translateY(-20px) scale(1.2);
}

.bl-buttons {
    display: inline-block;
    width: 37%;
    float: right;
    text-align: right;
}

.bl-bought {

    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;

    position: relative;
}

.bl-bought::after {
    content: "Tooltip";
attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 50%;
    width: 100%;
    border-radius: 5px;
    margin-left: -47px;
    padding: 5px;
    background-color: rgba(10, 1, 64, 0.9);
    color: white;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.bl-bought:hover::after {
    visibility: visible;
    transform: translateY(-20px) scale(1.2);
}

.bl-del {
    height: 43px;
    width: 43px;
    background-color: #ff6357;
    display: inline-block;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    position: relative;
}

.bl-del::after {
    content: "Tooltip";
attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 50%;
    width: 70px;
    border-radius: 5px;
    margin-left: -40px;
    padding: 5px;
    background-color: rgba(10, 1, 64, 0.9);
    color: white;
    visibility: hidden;
    transition: all 1s ease-in-out;
}

.bl-del:hover::after {
    visibility: visible;
    transform: translateY(-20px) scale(1.2);
}

.bl-title {
    background-color: white;
    border-bottom: solid 1px darkgrey;
    width: auto;
    /*padding: 3px;*/
    margin: auto;
    text-align: left;
    font-size: 15px;
}

.bl-right-prod-list {
    background-color: white;
    border-bottom: solid 1px darkgrey;
    padding: 9px 5px;
    text-align: left;
}

.bought-product-in-right-col {
    background-color: #DADADA;
    display: inline-block;
    border: 0 solid transparent;
    border-radius: 5px;
    text-align: center;
    padding: 4px 7px;
    margin: 5px;
}

.titleProduct {
    background-color: #DADADA;
    display: inline-block;
}

.ui-circular-number {
    display: inline-block;
    background-color: #ff9945;
    color: white;
    border: 0 solid transparent;
    border-radius: 2em;
    text-align: center;
    font-size: .64285714rem;;
    padding: 4px 7px;
}

.badge {
    position: fixed;
    left: 50px;
    bottom: 0px;

    width: 120px;
    height: 150px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    margin-bottom: -100px;

    transition: all 2s ease;
}

.badge:hover {
    transform: translateY(-100px);
    background-color: rgba(10, 1, 64, 0.9);
    border-radius: 20px 20px 0 0;
}

.title-badge {
    font-size: 30px;
    text-align: center;
}

.author-badge {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

@media (max-width: 900px) {
    .left-main-container {
        width: 98%;
        padding: 0;
        float: none;
    }

    .right-main-container {
        width: 100%;
        padding: 0;
    }

    .right-container {
        margin: 10px 0 0;
        width: 98%;
    }
}

@media print {
    .title-badge {
        display: none;
    }

    .badge {
        border: 3px solid rgba(10, 1, 64, 0.9);
        background-color: white;
        border-radius: 20px 20px 0 0;
        color: black;
        height: 100px;
        margin-bottom: 0px;
    }
}

* {
    font-family: "Comic Sans MS";
}

body {
    background-color: #DADADA;
}
